*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.titulo{
    text-align: center;
    color: white;
    text-shadow: 4px 4px 20px white;
}

.contenedor{
    margin: 30px;
    width: 300px;
    height: 250px;
    background-color: #44F814;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px blue;
}

.cabecera{
    height: 30px;
    padding: 5px;
    width: 100%;
    background-color: yellow;
    color: blue;
    text-align: center;
    border: 1px solid white;
    box-shadow: 2px 2px 10px red inset;
    border-radius: 5px;
}

#cal{
    position: relative;
    left: 25px;
}

#guardar{
    background-color: rgb(77, 155, 151);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

#listado{
    border: 3px solid #44F814;
    box-shadow: 0px 0px 20px white;
    color: white;
    border-radius: 5px;
    left: 350px;
    position: absolute;
    top: 20px;
    margin: 30px;
    padding: 5px;
    width: 40%;
    height: 350px;
}

table{
    background-color: white;
    color: black;
    width: 600px;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 10px 10px 10px yellow; 
    margin: 5px auto ;
}

th{
    background-color: burlywood;
    color: black;
    text-align: center;
}

tr{
    height: 35px;

}

tr:nth-child(2n+1){
    background-color: aqua;

}

.mensaje{
    padding: 3px;
    font-size: 25px;
    position: absolute;
    left: 30px;
    top: 300px;
    background-color: yellow;
    border-radius: 5px;
    border: 1px solid black;
}

td{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 1px 1px 2px inset   ;
}

.btn-alumno{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 3px;
    font-size: 12px;
    border-radius: 2px;
    margin-right: 5px;
}

.btn-alumno:hover{
    background-color: white;
    color: #44F814;
}

.printbutton{
    background-color: rgb(77, 155, 151);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}